ิี
<section style="width:500px;">
  <mat-dialog-content>
    <header>
      <h1>แก้ไขข้อมูล</h1>
    </header>
    <div class="HH" style="width: 100%;">
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>ชื่อสินค้า</mat-label>
          <input matInput placeholder="Placeholder" value="{{foods.name}}">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>ราคาสินค้า</mat-label>
          <input matInput placeholder="Placeholder" value="{{foods.price}}">
        </mat-form-field>
      </p>
      <p style="height: 55px;">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>URL รูปภาพ</mat-label>
          <input matInput placeholder="Placeholder" value="{{foods.img}}">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>ประเภทสินค้า</mat-label>
          <input matInput placeholder="Placeholder" value="{{foods.type}}">
        </mat-form-field>
      </p>
    </div>
    <button mat-raised-button color="gray">Save</button>
    <button mat-raised-button color="gray" mat-dialog-close>Cancel</button>
    </mat-dialog-content>

</section>
