<div class="container">
  <mat-paginator [length]="10" [pageSize]="1" aria-label="Select page">
  </mat-paginator>
</div>

<div class="row" style="background-color: #F0ECCF;text-align: center;">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col"><img src="../../thekit.png" alt="" width="300px"></div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col"><p style="font-size: 16px;font-family: 'K2D', sans-serif;;">"A recipe is a story that ends with a good meal."</p></div>
    <div class="col"></div>
  </div>
</div>
